{% extends "base.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for product in products %}
                <div class="card mb-3 col-4" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ product }}</h6>
                        <p class="card-text">The describe products</p>
                         <a href="#" class="card-link">Card link</a>
                         <a href="#" class="card-link">Another link</a>
                    </div>
                 </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}